<meta charset="UTF-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
<link rel="shortcut icon" href="/cgwl.ico">
<title>{$title?$title.'-':null}{$option['title']?$option['title']:'辰光PHP客服系统'} -xianyuboke.com 闲鱼资源网 -xianyuboke.com 闲鱼资源网</title>
<link rel="stylesheet" href="https://at.alicdn.com/t/font_353057_c9nwwwd9rt7.css">
<link href="//at.alicdn.com/t/font_353057_iozwthlolt.css" rel="stylesheet">

{/* 载入框架&插件CSS */}
{load href="__style__/platform/bootstrap.min.css"/}
{load href="__style__/platform/common.css"/}
{load href="__style__/platform/common.v2.css"/}
{load href="__style__/platform/flex.css"/}

<script>var _upload_url = "{:url('upload/file')}";</script>
{load href="__script__/platform/vue.js"/}
{load href="__script__/platform/jquery.min.js"/}
{load href="__script__/platform/popper.min.js"/}
{load href="__script__/platform/bootstrap.min.js"/}
{load href="__script__/platform/common.js"/}
{load href="__script__/platform/common.v2.js"/}
{load href="__script__/platform/plupload.full.min.js"/}