<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="shortcut icon" href="/dianqilai.ico">
    <title>{$title?$title.'-':null}{$option['title']?$option['title']:'客服系统'}</title>

    {load href="__style__/platform/bootstrap.min.css"/}
    {load href="__style__/platform/common.css"/}

    {load href="__script__/platform/vue.js"/}
    {load href="__script__/platform/jquery.min.js"/}
    {load href="__script__/platform/popper.min.js"/}
    {load href="__script__/platform/bootstrap.min.js"/}
    {load href="__script__/platform/common.js"/}


</head>
<body>
{__CONTENT__}
</body>
</html>